.univCertif {
  height: 700px;
  background-image: url("https://content.sportslogos.net/logos/34/858/full/2962_stony_brook_seawolves-wordmark-2008.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
